html:not(.dark) {
  --code-background-color: theme('colors.zinc.100');
  --code-text-color: #2d3748;
  --code-comment-color: #6c737d;
  --code-panctuation-color: #060606;
  --code-keyword-color: #ca404f;
  --code-function-color: #6d45b5;
  --code-class-color: #d66517;
  --code-variable-color: #25282d;
  --code-string-color: #082e5b;
  --code-number-color: #0b82aa;
  --code-regex-color: #27823c;
  --code-selector-color: #2a803f;
  --code-selector-class-color: #1082a6;
  --code-property-color: #0285b1;
  --code-atrule-color: #050505;
  --code-rule-color: #cf3e4d;
  --code-line-number-color: #9ca3af;
  --code-line-deleted-background-color: rgba(254, 202, 202, 0.5);
  --code-line-inserted-background-color: rgba(179, 248, 203, 0.5);
}

html.dark {
  --code-background-color: theme('colors.zinc.800/50');
  --code-text-color: #edf2f7;
  --code-comment-color: #959ea5;
  --code-panctuation-color: #fbfbfd;
  --code-keyword-color: #d94f5d;
  --code-function-color: #b493ec;
  --code-class-color: #f3873c;
  --code-variable-color: #d0d1d3;
  --code-string-color: #82b5f0;
  --code-number-color: #c8e1ff;
  --code-regex-color: #80c479;
  --code-selector-color: #86c58f;
  --code-selector-class-color: #c9e1fd;
  --code-property-color: #cce0f7;
  --code-atrule-color: #fbfbfb;
  --code-rule-color: #dd5060;
  --code-line-number-color: #9ca3af;
  --code-line-deleted-background-color: rgba(84, 36, 36, 0.5);
  --code-line-inserted-background-color: rgba(37, 84, 52, 0.5);
}

/* prettier-ignore */
code[class*='language-'],
pre[class*='language-'] {
  color: var(--code-text-color);
  background: var(--code-background-color);
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
pre[class*='language-'] {
  @apply p-4 my-2 overflow-auto rounded-md;
}

/* Inline code */
:not(pre) > code[class*='language-'] {
  @apply p-1 whitespace-normal rounded-md;
}

.code-highlight {
  @apply float-left min-w-full;
}

.code-line {
  @apply block px-4 -mx-4 border-l-[4px] border-transparent;
}

.code-line.inserted {
  @apply bg-[color:var(--code-line-inserted-background-color)];
}

.code-line.deleted {
  @apply bg-[color:var(--code-line-deleted-background-color)];
}

.highlight-line {
  @apply -mx-4 border-l-4 border-solid;
  border-left-color: rgb(59, 130, 246); /* Set highlight accent border color */
  background-color: rgba(55, 65, 81, 0.5); /* Set highlight bg color */
}

.line-number::before {
  @apply inline-block w-4 mr-4 -ml-2 text-right text-[color:var(--code-line-number-color)];
  content: attr(line);
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  @apply text-[color:var(--code-comment-color)];
}

.token.punctuation {
  @apply text-[color:var(--code-panctuation-color)];
}

.token.selector {
  @apply text-[color:var(--code-selector-color)];
}

.token.selector .token.class {
  @apply text-[color:var(--code-selector-class-color)];
}

.token.property {
  @apply text-[color:var(--code-property-color)];
}

.token.string {
  @apply text-[color:var(--code-string-color)];
}

.token.number {
  @apply text-[color:var(--code-number-color)];
}

.token.atrule {
  @apply text-[color:var(--code-atrule-color)];
}

.token.atrule .rule {
  @apply text-[color:var(--code-rule-color)];
}

.token.keyword {
  @apply text-[color:var(--code-keyword-color)];
}

.token.package,
.token.class-name,
.token.scope {
  @apply text-[color:var(--code-class-color)];
}

.token.function {
  @apply text-[color:var(--code-function-color)];
}

.token.variable {
  @apply text-[color:var(--code-variable-color)];
}

.token.regex,
.token.important {
  @apply text-[color:var(--code-regex-color)];
}

.token.important,
.token.bold {
  @apply font-bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  @apply cursor-help;
}

.token.tag .token.tag {
  @apply text-[color:var(--code-function-color)];
}

.token.tag .token.attr-name {
  @apply text-[color:var(--code-property-color)];
}

.token.tag .token.attr-value {
  @apply text-[color:var(--code-string-color)];
}

.token.tag .token.script.language-javascript .punctuation {
  @apply text-[color:#3298DB];
}
